{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<main>
    <div>
        <h2 class="pb-2 border-bottom text-center">Protect Your Image From Deepfakes</h2>
    </div>

    <div class="row row-cols-1 justify-content-center row-cols-lg-1 align-items-center g-4 py-5">
        <div class="container">
            <form method="POST" action="{% url 'convert' %}" name="img" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form fileuploadForm %}
                
                <div class="row text-center align-items-stretch g-1 py-2">
                    <button type="submit" class="btn btn-outline-success text-center bg-blue" value="Upload">Convert </button>
                </div>
            </form>
        </div>
      </div>
    </div>
</main>
{% endblock %}